[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"
isort = {extras = ["colors"], version = "*"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
